@import "variable.styl"

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background

.fl
  float left

.fr
  float right

/*清浮动*/
.clearfix:after
  content: ""
  clear: both
  display: block

.clearfix
  zoom: 1

